<h1>Hi <%= @user.name %>!</h1>
<p>
  You have successfully booked you flight!

  Kick back and relax dreaming of your next trip or visit our <%= link_to "homepage", root_url %> to book another flight.
</p>

<p>Thanks for flying with us and have a great day!</p>
