<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
      @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bruno+Ace&family=Geist+Mono:wght@100..900&family=Iceberg&family=Nova+Square&family=Pinyon+Script&family=Zen+Dots&display=swap');

      html {
        margin: 0;
      }

      body {
        
        background-image: url(http://localhost:3000/assets/taylor-van-riper-yQorCngxzwI-unsplash-583797f9d0d55a9c6d328002449f3f080c398a33d9dd91b7a20296ac401599c9.jpg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        line-height: 1.5rem;
        height: calc(100vh - (125.92px ));
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .message-container {
        background-color: rgba(255, 255, 255, 0.658);
        border-radius: 1rem;

        padding: 1rem 1.5rem;
        width: 40vw;
      }

      h1 {
        font-family: "Roboto", sans-serif;
        font-size: 2.25rem;
      }

      .site-name {
        font-family: "Geist Mono", monospace;
        font-size: 1rem;
      }

      .icon {
        height: 2rem;
        margin-right: 10px;
      }

      .logo-sitename-container {
        display: flex;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
